<div class="d-flex justify-content-center">
    <div class="col-8">
        <div *ngIf="filePart">
            <h2 data-cy="filePartDetailsHeading">
                <span jhiTranslate="dmsApp.fileManager.detail.esign">File Part</span>
            </h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ filePart.id }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileManager.name">Name</span></dt>
                <dd>
                    <span>{{ filePart.name }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileManager.content">Content</span></dt>
                <dd>
                    <div *ngIf="filePart.content">
                        <a (click)="openFile(filePart.content, filePart.contentContentType)"
                           jhiTranslate="entity.action.open">open</a>
                        {{ filePart.contentContentType }}, {{ byteSize(filePart.content) }}
                    </div>
                </dd>
                <dt>
                    <span jhiTranslate="dmsApp.fileManager.concurrencyStamp">Concurrency Stamp</span>
                </dt>
                <dd>
                    <span>{{ filePart.concurrencyStamp }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileManager.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'dmsApp.FileStatus.' + filePart.status }}">
                        {{
            filePart.status
                        }}
                    </span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileManager.signer">Signer</span></dt>
                <dd>
                    <span>{{ filePart.signer?.id }}</span>
                </dd>
                <dt>
                    <span jhiTranslate="dmsApp.fileManager.fileContainer">File Container</span>
                </dt>
                <dd>
                    <div *ngIf="filePart.fileContainer">
                        <a [routerLink]="[
                '/file-container',
                filePart.fileContainer?.id,
                'view'
              ]">{{ filePart.fileContainer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <div *ngIf="!isSigned" class="row mb-3">
                <label class="form-label"
                       jhiTranslate="dmsApp.employee.signature"
                       for="field_signature">Signature</label>
                <div>
                    <div class="signature-pad">
                        <div class="signature-pad--body">
                            <canvas style="max-width:100%;" width="900" height="300" (window:resize)="onResize()" #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
                        </div>
                    </div>
                    <button class="btn-clear" type="button" (click)="clearPad()">Clear</button>

                    <div *ngIf="editForm.get('signature')!.value"
                         class="form-text text-danger clearfix">
                        <a class="pull-start"
                           (click)="
                  openFile(
                    editForm.get('signature')!.value,
                    editForm.get('signatureContentType')!.value
                  )
                "
                           jhiTranslate="entity.action.open">open</a><br />
                        <span class="pull-start">
                            {{ editForm.get("signatureContentType")!.value }},
                            {{ byteSize(editForm.get("signature")!.value) }}
                        </span>
                        <button type="button"
                                (click)="
                  editForm.patchValue({ signature: null });
                  editForm.patchValue({ signatureContentType: null })
                "
                                class="btn btn-secondary btn-xs pull-end">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                    <!--<input type="file"
            id="file_signature"
            data-cy="signature"
            (change)="setFileData($event, 'signature', false)"
            jhiTranslate="entity.action.addblob" />-->
                </div>
                <input type="hidden"
                       class="form-control"
                       name="signature"
                       id="field_signature"
                       data-cy="signature"
                       formControlName="signature" />
                <input type="hidden"
                       class="form-control"
                       name="signatureContentType"
                       id="field_signatureContentType"
                       formControlName="signatureContentType" />
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *ngIf="!isSigned"
                    type="button"
                    id="sign-button"
                    data-cy="entitySignButton"
                    class="btn btn-dark"
                    (click)="signFile(filePart.id)">
                <fa-icon icon="file-signature"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.fileManager.esign.signThisFile">Sign This File</span>
            </button>
            <button *ngIf="!isSigned"
                    type="button"
                    id="sign-button"
                    data-cy="entitySignButton"
                    class="btn btn-dark"
                    (click)="unsignFile(filePart.id)">
                <fa-icon icon="text-slash"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.fileManager.esign.unsignThisFile">Unsign This File</span>
            </button>
            <button *ngIf="!isSigned"
                    type="button"
                    id="sign-button"
                    data-cy="entitySignButton"
                    class="btn btn-dark"
                    (click)="processFile(filePart.id)">
                <fa-icon icon="microchip"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.fileManager.esign.processThisFile">Process This File</span>
            </button>
            <button *ngIf="!isSigned"
                    type="button"
                    id="sign-button"
                    data-cy="entitySignButton"
                    class="btn btn-dark"
                    (click)="returnFile(filePart.id)">
                <fa-icon icon="arrow-rotate-left"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.fileManager.esign.returnThisFile">Return This File</span>
            </button>
        </div>
    </div>
</div>
