<div>
    <h2 id="page-heading" data-cy="FilePartHeading">
        <span jhiTranslate="dmsApp.filePart.home.title">File Parts</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info me-2"
                    (click)="loadAll()"
                    [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span jhiTranslate="dmsApp.filePart.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity"
                    data-cy="entityCreateButton"
                    class="btn btn-primary jh-create-entity create-file-part"
                    [routerLink]="['/file-part/new']">
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="dmsApp.filePart.home.createLabel">
                    Create a new File Part
                </span>
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning"
         id="no-result"
         *ngIf="fileParts?.length === 0">
        <span jhiTranslate="dmsApp.filePart.home.notFound">No fileParts found</span>
    </div>

    <div class="table-responsive"
         id="entities"
         *ngIf="fileParts && fileParts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.name">Name</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.content">Content</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.uniqueId">UniqueId</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.status">Status</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.signer">Signer</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="dmsApp.filePart.fileContainer">File Container</span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let filePart of fileParts; trackBy: trackId"
                    data-cy="entityTable">
                    <ng-container *ngIf="filePart.status !== 'DELETED'">
                        <td>
                            <a [routerLink]="['/file-part', filePart.id, 'view']">
                                {{
              filePart.id
                                }}
                            </a>
                        </td>
                        <td>{{ filePart.name }}</td>
                        <td>
                            <a *ngIf="filePart.content"
                               (click)="openFile(filePart.content, filePart.contentContentType)"
                               jhiTranslate="entity.action.open">open</a>
                            <span *ngIf="filePart.content">
                                {{ filePart.contentContentType }},
                                {{ byteSize(filePart.content) }}
                            </span>
                        </td>
                        <td>{{ filePart.uniqueId }}</td>
                        <td jhiTranslate="{{ 'dmsApp.FileStatus.' + filePart.status }}">
                            {{ filePart.status }}
                        </td>
                        <td>
                            {{ filePart.signer?.id }}
                        </td>
                        <td>
                            <div *ngIf="filePart.fileContainer">
                                <a [routerLink]="[
                  '/file-container',
                  filePart.fileContainer?.id,
                  'view'
                ]">{{ filePart.fileContainer?.id }}</a>
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/user/esign', filePart.id, 'view']"
                                        class="btn btn-info btn-sm"
                                        data-cy="entityDetailsButton">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline"
                                          jhiTranslate="entity.action.view">View</span>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
