<div>
  <h2 id="page-heading" data-cy="fileManagerHeading">
    <span jhiTranslate="dmsApp.fileContainer.home.title">File Containers</span>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info me-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmsApp.fileContainer.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-container"
        [routerLink]="['/user/file-manager/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmsApp.fileContainer.home.createLabel">
          Create a new File Container
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="fileManagers?.length === 0"
  >
    <span jhiTranslate="dmsApp.fileContainer.home.notFound"
      >No FileManagers found</span
    >
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="fileManagers && fileManagers.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col">
            <span jhiTranslate="dmsApp.fileContainer.name">Name</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.fileContainer.concurrencyStamp"
              >Concurrency Stamp</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.fileContainer.creator">Creator</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.fileContainer.owner">Owner</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let fileManager of fileManagers; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/user/file-manager', fileManager.id, 'view']">{{
              fileManager.id
            }}</a>
          </td>
          <td>{{ fileManager.name }}</td>
          <td>{{ fileManager.concurrencyStamp }}</td>
          <td>
              {{ fileManager.creator?.id }}
          </td>
          <td>
              {{ fileManager.owner?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user/file-manager', fileManager.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button
                type="submit"
                [routerLink]="['/user/file-manager', fileManager.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button
                type="submit"
                (click)="delete(fileManager)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
