<div class="d-flex justify-content-center">
    <div class="col-8">
        <div *ngIf="fileManager">
            <h2 data-cy="fileManagerDetailsHeading">
                <span jhiTranslate="dmsApp.fileManager.detail.title">File Container</span>
            </h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ fileManager.id }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileContainer.name">Name</span></dt>
                <dd>
                    <span>{{ fileManager.name }}</span>
                </dd>
                <dt>
                    <span jhiTranslate="dmsApp.fileContainer.concurrencyStamp">Concurrency Stamp</span>
                </dt>
                <dd>
                    <span>{{ fileManager.concurrencyStamp }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileContainer.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'dmsApp.FileStatus.' + fileManager.status }}">{{ fileManager.status }}</span>
                </dd>
                <dt><span jhiTranslate="dmsApp.fileContainer.owner">Owner</span></dt>
                <dd>
                    <span>{{ fileManager.owner?.id }}</span>
                </dd>
            </dl>

            <div class="card">
                <div class="card-header">
                    <h5>Files</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr>
                                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                                <th scope="col">
                                    <span jhiTranslate="dmsApp.filePart.name">Name</span>
                                </th>
                                <th scope="col">
                                    <span jhiTranslate="dmsApp.filePart.content">Content</span>
                                </th>
                                <th scope="col">
                                    <span jhiTranslate="dmsApp.filePart.signer">Signer</span>
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container>
                                <ng-container *ngFor="let filePart of fileManager.fileParts; let i = index">
                                    <tr>
                                        <td>
                                            <div>
                                                {{ filePart.id }}
                                            </div>
                                            <jhi-alert-error></jhi-alert-error>
                                        </td>

                                        <td>
                                            <div>
                                                {{ filePart.name }}
                                            </div>
                                        </td>

                                        <td>
                                            <div *ngIf="filePart.content">
                                                <a (click)="openFile(filePart.content, filePart.contentContentType)"
                                                   jhiTranslate="entity.action.open">open</a>
                                                {{ filePart.contentContentType }}, {{ byteSize(filePart.content) }}
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                {{ filePart.signerId }}
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user/file-manager', fileManager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
